body {
    font-size: 1rem;
    color: white;
    font-weight: 700;
    font-family: futura-pt,-apple-system,BlinkMacSystemFont,Segoe UI,
    Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.master-grid {
    display: flex;
   justify-content: center;

}
.main-grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    width: 50%;
    text-align: center;
    min-width: 1000px;
    grid-auto-rows: 100px auto;
}
.grid-1 {
    grid-row: 1/3;
    display: flex;
    align-items: center;
}
.grid-1-gnarly-logo {
    width: 140px;
    transition: rotate 0.40s ease-in-out;  
}
.grid-1-gnarly-logo:hover {
    rotate: -15deg;
}
.grid-2 {
    background-color: blanchedalmond;
    grid-column: 2/3;

}
.grid-3 {
    grid-column: 2/3;
}
.nav-grid3-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    padding: 0;
    font-size: 1.1rem;
    font-weight: 900;
    font-family: futura-pt,-apple-system,BlinkMacSystemFont,Segoe UI,
    Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.grid-4 {
    grid-row: 3/6;  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.grid-4-title-shop {
    font-size: 2rem;
    font-weight: 900;
    color: black;
    font-family: futura-pt,-apple-system,BlinkMacSystemFont,Segoe UI,
    Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.nav-grid4-list {
    padding:0;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 1.2rem;
    font-weight: 900;
    font-family: futura-pt,-apple-system,BlinkMacSystemFont,Segoe UI,
    Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
li, a {
    text-decoration: none;
    color: black;
    list-style: none;
    text-align:left;
    margin: 0;
    padding: 0;
}
a:hover {
    color: rgb(123, 255, 0)
}
.grid-5 {
    background-color: rgb(0, 0, 0);
    grid-row:3/8;
}
.grid-6 {
    grid-row: 6/8;
    display: grid;
    height: 140px;

    
}
.grid-6-child-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    width: 170px;
    height: 120px;
    background-color: black;
}
.grid-6-title {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 900;
    font-family: futura-pt,-apple-system,BlinkMacSystemFont,Segoe UI,
    Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.grid-6-col-logos {
    display: flex;
    justify-content: space-evenly;
}
.grid-6-social-logos {
    width: 30px;
    background-color: white;
    border-radius: 10px;
    background-color: yellow;
}
.grid-7 {
    grid-column: 1/3;
    height: 2000px;
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 370px;
    grid-auto-columns: 300px;
    gap: 10px;

}

.child-grid-col1 {
    display: flex;
    flex-direction: column;
    transition: transform 0.30s ease-in;
}
.child-grid-col1:hover {
    transform: translateY(-10px);
}
.child-grid-col2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 43px;
}
.sale-title-price {
    color: yellow;
    margin-right: 25px;
}
.sale-title {
    margin-left: 25px;
}
img {
    width: 100%;
}